<Template name = "treeCntrl">
  <div id="scrollParent" style="height: 150px;overflow: auto;">
      <table id="tree">
          <colgroup>
              <col width="30px"/>
              <col width="30px"/>
              <col width="*"/>
              <col width="50px"/>
              <col width="30px"/>
          </colgroup>
          <thead>
          <tr> <th> </th> <th>#</th> <th></th> <th>Key</th> <th>Like</th> </tr>
          </thead>
          <tbody  >
          </tbody>
      </table>
  </div>
</Template>